<ul class="nav nav-tabs">
    <li class="nav-item">
        <a [routerLink]="['./vuelos-main']" class="nav-link">Main</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['./mas-info']" class="nav-link">Info</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['./',5]" class="nav-link">Vuelo 5</a>
    </li>
</ul>

<router-outlet></router-outlet>
