

<hr class="mt-3 mb-3">
<div class="container justify-content-center">
    <mgl-map [style]="style" [zoom]="[2]">
        <mgl-marker [lngLat]="[-75.551012, 10.421185]"><!--puntito del mapa, con ubicacion especifica-->
            <div onclick="alert('Hola')" class="marker">Hola mundo</div>
        </mgl-marker>
    </mgl-map>
</div>
    