<div class="container-fluid justify-content-center form-login">
    <form class="form" *ngIf="!authService.getUser()">
        <div class="form-group">
            <label for="username">Usuario:(user)</label><!--(type <em>user</em>)-->
            <input class="form-control" name="username" #username>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:(password)</label><!-- (type <em>password</em>)-->
            <input class="form-control" type="password" name="password" #password>
        </div>
        <a class="btn btn-dark" (click)="login(username.value,password.value)">Ingresar</a>
        {{mensajeError}}
    </form>
</div>
<div class="container justify-content-center form-login" *ngIf="authService.getUser()">
    <div class="row justify-content-center">
        <h4 class="font-weight-light">¿Desea cerrar sesión?</h4>
    </div>
    <div class="row mt-5 d-flex justify-content-around">
        <div class="d-flex col-6 justify-content-center">
            <a [routerLink]="['/home']" class="btn btn-dark">Volver a inicio</a>
        </div>
        <div class="d-flex col-6 justify-content-center">
            <a class="btn btn-dark" (click)="logout()">Cerrar sesión</a>
        </div>
    </div>
    
</div>

