<!--<h2 class="display-4">{{nombre}}</h2>-->

<div class="card mt-5" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <img src="https://placeimg.com/380/230/nature" alt="" class="card-img-top">
    <div class="card-body d-flex">
        <p class="badge badge-dark mt-2 mr-2">{{position}}</p>
        <h3 class="card-title font-weight-light" style="margin-bottom: 0px;">{{destino.nombre}}</h3>
    </div>
    <hr class="mt-2">
    <div class="card-body pb-1 pt-1">
        <h5 class="font-weight-bold">Servicios</h5>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch] = "s">
                    <i *ngSwitchCase = "'Desayuno'">{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        <div>
            <p>Votos: {{destino.votes}}</p>
            <!--<label for="like" class="mr-2">Like</label>-->
            <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item"><i class="material-icons md-18 mr-3" id="like">thumb_up</i></a>
            <!--<label for="dislike" class="mr-2">Dislike</label>-->
            <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item"><i class="material-icons md-18" id="dislike">thumb_down</i></a>
            
        </div>
    </div>
    <div class="card-body">
        <a [routerLink]="['/destino/10']" class="card-link mb-5">Ver detalles</a><br>
        <hr>
        <a href="#" class="btn btn-dark boton-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">SELECCIONAR</a>
    </div>
    <div class="card-footer" *ngIf="destino.isSelected()"> 
        <div class="container">
            <div class="row justify-content-center">
                <h6 ngNonBindable class="font-weight-bold">Preferido</h6>
            </div>
        </div>
    </div>

</div>

<!--<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>{{position}}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <h4>Servicios</h4>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch] = "s">
                    <i *ngSwitchCase = "'Desayuno'">{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                    
                </span>
            </li>
        </ul>
        <a href="#"	class="btn-card" (click)="ir()">Seleccionar</a>
        <span *ngIf="destino.isSelected()">
            <span class="badge badge-primary" style="margin-left: 10px;" ngNonBindable>Preferido</span>
        </span>
        <a [routerLink]="['/destino']">Ver detalles</a>		
    </div>
</div>-->


