<form
    [formGroup] = "fg"
    (ngSubmit) = "guardar(fg.controls['nombre'].value, fg.controls['url'].value)"
    >
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-xs-11" style="width: 90%;">
                    <input type="text" class="form-control"	id="nombre"	placeholder="Ingresar nombre..." 
                    [formControl]="fg.controls['nombre']">
                </div>
                <div class="col-xs-1">
                    <span *ngIf="fg.controls['nombre'].hasError('required')" class="font-weight-bold">*</span>
                </div>
            </div>
        </div>
           
        <p class="font-weight-light mb-1 mt-2">Sugerencias:</p>
        <ul>
            <li class="font-weight-light" *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
        
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')" class="alert alert-danger alert-dismissible fade show" role="alert">
            Nombre inválido
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')" class="alert alert-danger alert-dismissible fade show" role="alert">
            Nombre debe tener al menos {{minLongNombre}} caracteres
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="form-group">
        <label for="Imagen Url">URL</label>
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-xs-11" style="width: 90%;">
                    <input type="text" class="form-control"	id="imagenUrl"	placeholder="Ingresar URL..." 
                    [formControl]="fg.controls['url']">
                </div>
                <div class="col-xs-1">
                    <span *ngIf="fg.controls['url'].hasError('required')" class="font-weight-bold">*</span>
                </div>
            </div>
        </div>
        
    </div>
        <div class="font-weight-bold mb-3">*Campo obligatorio</div>
        <button	type="submit" class="btn btn-dark boton-card" *ngIf="fg.valid">Guardar</button>
</form>
