<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top barra-nav">
  <a [routerLink]="['/home']" class="navbar-brand" *ngIf="estaLogged()">Wishlist</a>
  <a [routerLink]="['/login']" class="navbar-brand" *ngIf="!estaLogged()">Wishlist</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" *ngIf="estaLogged()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" *ngIf="estaLogged()">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" data-toggle="collapse" data-target=".navbar-collapse.show">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/vuelos']" data-toggle="collapse" data-target=".navbar-collapse.show">Vuelos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./reservas']" data-toggle="collapse" data-target=".navbar-collapse.show">Reservas</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item">
        <select (change)="translate.use($event.target.value)" class="custom-select">
          <option value="es">Español</option>
          <option value="en">English</option>
          <option value="fr">French</option>
        </select>
      </li>
      <li class="nav-item ml-md-4">
        <a class="nav-link" [routerLink]="['/login']" data-toggle="collapse" data-target=".navbar-collapse.show">Cerrar sesión</a>
      </li>
    </ul>
  </div>
</nav>



<div class="container content" style="margin-top: 5rem">
   
  <div class="row justify-content-center">
    <h1 class="display-3 mb-5 ">{{title}}</h1>
    <h2 class="display-4 ml-4" [innerHTML]="'HOLA' | translate"></h2>
  </div>
  <!--variable-->
  <router-outlet></router-outlet> <!--detecta un componente vinc a un modulo, la ruta que elijo, es el componente que se renderiza-->
  <!--variable-->

  <!--cte <app-lista-destinos></app-lista-destinos> -->
</div>
<hr class="mb-5">
<footer>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <span class="text-muted">{{time | async}}</span>
    </div>
  </div>
  
</footer>


